# Keygen.sh
KEYGEN_ACCOUNT_ID=your_keygen_account_id
KEYGEN_PRODUCT_TOKEN=prod_xxx
KEYGEN_POLICY_TRIAL=policy_uuid_here
KEYGEN_POLICY_MENSAL=policy_uuid_here
KEYGEN_POLICY_ANUAL=policy_uuid_here
KEYGEN_POLICY_VITALICIO=policy_uuid_here

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICE_MENSAL=price_xxx
STRIPE_PRICE_ANUAL=price_xxx
STRIPE_PRICE_VITALICIO=price_xxx

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
